<main id="specials">
	<header id="header-hack"></header>
	<header>
		<div id="navigation">
			<button id="home" ng-click="goHome()"></button>
		</div>
		<h1>Specials</h1>
		<h2 id="user">Hi, Ginny</h2>
	</header>
	<div id="content">
		<div id="operations">
			<button id="add-wine"><img src="/images/plus-icon.svg"></button>
		</div>
		<div id="specials-list">
			<div class="a-special" ng-repeat="special in specials" ng-init="wine = wine_factory.getWineById( special.wine_id )">
				<h1 >{{ special.title }}</h1>
				<div ng-if="special.wine_id" class="wine">
					<h3 class="name">{{ wine.name }}</h3>
					<h3 class="location-and-cases">{{ wine.location }} | {{ wine.cases_produced }}</h3>
					<h3 class="description">{{ wine.description }}</h3>
				</div>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
		</div>
	</div>
</main>