<main id="specials">
	<header id="header-hack"></header>
	<header>
		<div id="navigation">
			<button id="home" ng-click="goHome()"></button>
		</div>
		<h1>Specials</h1>
		<h2 id="user">Hi, Ginny</h2>
	</header>
	<div id="content">
		<div id="operations">
			<button id="add-wine"><img src="/images/plus-icon.svg"></button>
		</div>
		<div id="specials-list">
			<div class="a-special">
				<h1 class="vertically-centered">50% off all reds</h1>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-special">
				<h1 >50% off</h1>
				<div class="wine">
					<h3 class="name">2014 Salmon Run Rose</h3>
					<h3 class="location-and-cases">Dry Creek Valley | 1300 cases produced</h3>
					<h3 class="description">peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</h3>
				</div>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-special">
				<h1 >50% off</h1>
				<div class="wine">
					<h3 class="name">2014 Salmon Run Rose</h3>
					<h3 class="location-and-cases">Dry Creek Valley | 1300 cases produced</h3>
					<h3 class="description">peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</h3>
				</div>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-special">
				<h1 class="vertically-centered">50% off all reds</h1>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-special">
				<h1 class="vertically-centered">50% off all reds</h1>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-special">
				<h1 >50% off</h1>
				<div class="wine">
					<h3 class="name">2014 Salmon Run Rose</h3>
					<h3 class="location-and-cases">Dry Creek Valley | 1300 cases produced</h3>
					<h3 class="description">peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</h3>
				</div>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
		</div>
	</div>

</main>