<main id="wines-view">
	<header id="header-hack"></header>
	<header>
		<div id="navigation">
			<button id="home" ng-click="goHome()"></button>
		</div>
		<h1>Tasting Menu</h1>
		<h2 id="user">Hi, Ginny</h2>
	</header>
	<div id="content">
		<div id="operations">
			<input type="text" id="search" />
			<button id="add-wine"><img src="/images/plus-icon.svg"></button>
		</div>
		<div id="wines">
			<div class="a-wine" ng-repeat="wine in wines">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>{{ wine.name }}</h1>
					<h2>{{ wine.location }}</h2>
					<h2>{{ wine.cases_produced }} cases produced</h2>
					<h2>${{ wine.price.per_glass }} | ${{ wine.price.per_bottle }} | ${{ wine.price.per_case }}</h2>
				</div>
				<p>{{ wine.description }}</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
		</div>
	</div>
</main>