<main id="wines-view">
	<header id="header-hack"></header>
	<header>
		<div id="navigation">
			<button id="home" ng-click="goHome()"></button>
		</div>
		<h1>Entire Wine List</h1>
		<h2 id="user">Hi, Ginny</h2>
	</header>
	<div id="content">
		<div id="operations">
			<input type="text" id="search" />
			<button id="add-wine"><img src="/images/plus-icon.svg"></button>
		</div>
		<div id="wines">
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
			<div class="a-wine">
				<img src="/images/icon_120px.svg" />
				<div class="primary-info">
					<h1>2014 Salmon Run Rose</h1>
					<h2>dry creek valley</h2>
					<h2>800 cases produced</h2>
					<h2>$2 | $3 | $100</h2>
				</div>
				<p>peach. strawberry. key lime. herbal spice. Pair with fresh fruit and cheeses, smoked fish or spicy asian fare.</p>
				<div class="clear-inline"></div>
				<div class="edit-and-delete">
					<button class="edit">edit</button>
					<button class="delete">delete</button>
				</div>
			</div>
		</div>
	</div>
</main>