<main id="winery-settings">
	<header id="header-hack"></header>
	<header>
		<div id="navigation">
			<button id="home" ng-click="goHome()"></button>
		</div>
		<h1>Truett Hurst</h1>
		<h2 id="user">Hi, Ginny</h2>
	</header>
	<div id="content">
		<div id="general-settings">
			<h1>General</h1>
			<hr />
			<div id="logo">
				<h2>Logo</h2>
				<div id="upload-container"></div>
			</div>
			<div id="winery-details">
				<div id="winery-name">
					<h2>Winery Name</h2>
					<input type="text" />
				</div>
				<div id="address">
					<h2>Address</h2>
					<div id="street">
						<h3>street # and name</h3>
						<input type="text" />
					</div>
					<div id="city">
						<h3>city</h3>
						<input type="text" />
					</div>
					<div id="state">
						<h3>state</h3>
						<input type="text" />
					</div>
					<div id="zip">
						<h3>zip code</h3>
						<input type="text" />
					</div>
				</div>
			</div>
		</div>
		<div id="cancel-or-save">
			<button>cancel</button>
			<button>save</button>
		</div>
	</div>
</main>